.container {
  width: 75%;
  margin-top: 2vw;
  min-height: 80%;
  max-height: 80%;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  overflow: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

@media (max-width:600px){
  .container{
    width: 85%;
    min-height: unset;
    max-height: 35vh;
  }
}