.currentContainer {
  outline: #00c46a 2px solid;
}

.container,
.left,
.right {
  display: flex;
  align-items: center;
}

.left {
  padding: 0;
  height: 100%;
  gap: 10px;
}

.container {
  background-color: #242a2e;
  width: 100%;
  justify-content: space-between;
  padding: 0;
  border-radius: 10px;
}

.country {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1vw;
  border-radius: 10px 0px 0px 10px;
}

.right p {
  margin: 0;
  font-size: 1vw;
}

.details p {
  margin: 0;
  font-size: 1.2vw;
}

.details a {
  font-family: "Arimo", serif;
  font-size: 12px;
  font-weight: 600;
  color: #00c46a;
  text-decoration: none;
}

.right {
  margin-right: 1vw;
}

.right button {
  font-size: 1.2vw;
  border-radius: 50%;
  height: 1.5vw;
  width: 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
}

.right button:hover {
  background-color: #ffb545;
}

@media (max-width:600px){
  .country{
    padding: 6vw 2vw;
  }
  .right p{
    font-size: 3vw;
  }
  .details p{
    font-size: 3.5vw;
  }
  .details a{
    font-size: 2.5vw;
  }
  .right button{
    height: 4vw;
    width: 4vw;
    font-size: 3vw;
  }
}