.container {
  margin-top: 2vw;
  max-height: 80%;
  width: 70%;
  display: flex;
  gap: 15px 15px;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (max-width: 600px) {
  .container {
    min-height: unset;
    max-height: 35vh;
  }
}
